%div{ 'ng-controller': 'calculatorCtrl' }
  .row
    .large-10.small-10.columns.text-center
      %h1
        Cool Calculator
      %input.numbers{"ng-model" => "displayValue"}
        %br
        %br
      .row 
        %button.round{"ng-click" => "newNumber(1)"}
          1
        %button.round{"ng-click" => "newNumber(2)"}
          2
        %button.round{"ng-click" => "newNumber(3)"}
          3
        %button.round.info{"ng-click" => "reset()"}
          C
        %br
      .row
        %button.round{"ng-click" => "newNumber(4)"}
          4
        %button.round{"ng-click" => "newNumber(5)"}
          5
        %button.round{"ng-click" => "newNumber(6)"}
          6
        %button.round.info{"ng-click" => "multiply()"}
          x
        %br
      .row  
        %button.round{"ng-click" => "newNumber(7)"}
          7
        %button.round{"ng-click" => "newNumber(8)"}
          8
        %button.round{"ng-click" => "newNumber(9)"}
          9
        %button.round.info{"ng-click" => "divide()"} &divide;
        %br
      .row
        %button.round{"ng-click" => "newNumber(0)"}
          0
        %button.round.info{"ng-click" => "addition()"}
          +
        %button.round.info{"ng-click" => "subtraction()"} -
        %button.round.info{"ng-click" => "showTotal()"} =
        / %button.round.info{"ng-click" => "newNumber(.)"} .